<h1> ToDo List </h1>

<% @todos.each do |t| %>
  <div class="well">
    <%= t.description %>
    <h3> PENDIENTE(SHOW)<%# link_to 'Mostrar ToDo', todo %> </h3>
    <h3> PENDIENTE (EDIT) <%# link_to 'Editar ToDo', todo %> </h3>
  </div>
<% end %>

<h2> <%= link_to 'Crear ToDo', todos_new_path %> </h2>
