<h1> <%= "ToDo #{@todo.id}" %> </h1>

<div class="container">

<h2> <%= "Descripción ToDo: #{@todo.description}" %> </h2>

<h2> <%= "Estado: #{@status}" %> </h2>

<h3> Creado: <%= time_ago_in_words @todo.created_at %> </h3>

</div>
